<!DOCTYPE html>

{% load static %}

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
      {% include "csa_app/links.html" %}
  </head>

  <body>
    <div class="container">
      <h3 id="f1_header">Form 1: First Create (Parent and/or Child)</h3><br>
      <form class="" action="" method="post">
        {% csrf_token %}
        <input type="text" name="request_type_to_pass" id="request_type_to_pass" value="1" style="display:none;">
        <select name="request_type" id="request_type" class="form-control input-md" autofocus= true style="max-width:40%;">
          <option value="" selected="selected">Select request type</option>
          <option value="Create only parent contract">Create only parent contract</option>
          <option value="Create parent and children contracts">Create parent and children contracts</option>
          <option value="Add children contracts to existing parent contract">Add children contracts to existing parent contract</option><br>
        </select><br>
        <input type="submit" class="btn btn-primary" name="" value="Submit">
      </form>
    </div>
  </body>

</html>
