<!DOCTYPE html>

{% load static %}

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
      {% include "csa_app/links.html" %}
  </head>

  <body>
    <div class="container">
      <h3>Coming soon...</h3><a id="go_home_button" href="http://127.0.0.1:8000/" class="badge badge-primary" style="max-width:22%;">Return to the Setup Page</a>
      <br>
      <br>
      <iframe src="https://giphy.com/embed/pOKrXLf9N5g76" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/hacker-pOKrXLf9N5g76"></a></p>
    </div>
  </body>

</html>
