<!DOCTYPE html>

{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include "csa_app/links.html" %}
  </head>
  <body>
    <div class="container">
      <h3 id="f1_header">Form 1: First Create (Parent and/or Child)</h3><br>
      <h5>Parent Contract</h5>
      <form class="" action="" method="post">
        {% csrf_token %}
        {% include "csa_app/form1_parent_template.html" %}
        <div style="position:relative; left:1px;">
          <input id="submit_button" type="submit" name="" value="Submit" class="btn btn-primary">
        </div>
      </form>
    </div>
  </body>

</html>
