<!DOCTYPE html>

{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include "csa_app/links.html" %}
  </head>
  <body>
    <div class="container">
      <h3 id="f1_header">Form 1: First Create (Parent and/or Child)</h3><br>
      <h5>Parent Contract</h5>
      <form class="" action="" method="post">
        {% csrf_token %}
        {% include "csa_app/form1_parent_template.html" %}
        <div style="position:relative; left:1px;">
          <input id="submit_button" type="submit" name="" value="Submit" class="btn btn-primary">
        </div>
      </form>
    </div>
  </body>

  <script>

  submit_button = document.getElementById('submit_button');
  document.addEventListener('mousemove', disable_submit);
  submit_button.disabled=true;

  function disable_submit () {
    if (
        isAlphaNumeric(document.getElementById("id_parent_contr_name").value)===false
      )
    {
      submit_button.disabled=true;
      return;
    }submit_button.disabled=false;
  };

  // check for non-alphanumeric characters in contract names
  function isAlphaNumeric(str) {
    var code, i, len;
    for (i = 0, len = str.length; i < len; i++) {
      code = str.charCodeAt(i);
      if (!(code > 47 && code < 58) && // numeric (0-9)
          !(code > 64 && code < 91) && // upper alpha (A-Z)
          !(code > 96 && code < 123)) { // lower alpha (a-z)
        return false;
      }
    }
    return true;
  };
  </script>

</html>
