p {
  font-family: Arial; font-size: 10px; font-style: italic; font-weight: 100; color:red
}

.validity_dates {
  font-family: Arial; font-size: 10px; font-style: italic; font-weight: 100; margin-left: 1px;
}
.Form5Table tr td { font-size: 20px; font-stile: italic; }
